# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\AJIOZ\Documents\Face-Recogntion-PyQt-master\Face-Recogntion-PyQt-master\Face_Detection_PyQt_base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
